* {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #141B1C;
	margin: 0;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1440px;
	margin-top: 50px;
}

.price-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 380px;
	height: 770px;
	margin: 0px 9px 0px 9px;
	overflow: hidden;
	background-color: #334247;
	position: relative;
}

.price-card__title {
	font-weight: 700;
	font-size: 35px;
	line-height: 43px;
}

.price-card__title>p {
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	margin: 0;
}

.price-card__price {
	width: 380px;
	height: 105px;
	background-color: #5BB189;
}

.price-card__price>p {
	font-weight: 700;
	font-size: 55px;
	line-height: 67px;
	margin: 20px 0px 20px 0px;
}

.price-card__description {
	font-size: 15px;
	line-height: 18px;
	margin: 40px 25px 40px 25px;
}

.price-card__options-list {
	display: flex;
	flex-direction: column;
	width: 380px;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.price-card__options-list>li {
	display: flex;
	align-items: center;
	width: 380px;
	height: 50px;
	font-size: 15px;
	line-height: 18px;
}

.price-card__options-list>li>img {
	padding: 18px 22px 19px 22px;
}

.price-card__options-list>li:nth-child(odd) {
	background-color: #2A3438;
}

.price-card__order-btn {
	width: 155px;
	height: 40px;
	border: none;
	border-radius: 20px;
	margin: 40px 0px 40px 0px;
	background-color: #5BB189;
	color: white;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.price-card__order-btn>p {
	margin: 0;
}

.price-card:nth-child(2)>.price-card__price {
	background-color: #3A6BA5;
}

.price-card:nth-child(2)>.price-card__order-btn {
	background-color: #3A6BA5;
}

.price-card__popular {
	width: 150px;
	height: 25px;
	background-color: #DC3F45;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	position: absolute;
	right: -30px;
	top: 30px;
	transform: rotate(45deg);
}

.price-card__popular>p {
	margin: 4px 0px 4px 0px;
}

.price-card:nth-child(3)>.price-card__price {
	background-color: #EC632A;
}

.price-card:nth-child(3)>.price-card__order-btn {
	background-color: #EC632A;
}