.header {
	display: flex;
	width: 1140px;
	height: 64px;
	margin: auto;
}

.navigation {
	margin-left: auto;
	margin-top: 7px;
	margin-right: 75px;
}

.nav-list__item {
	color: #2B292D;
	text-decoration: none;
	line-height: 25px;
	font-size: 18px;
	margin-left: 50px;
}

.nav-list__item:last-child {
	margin-right: 0;
}

.nav-list__item:last-child {
	margin-right: 0;
}

.nav-list__item:first-child {
	font-weight: 700;
}

.nav__arrow {
	display: inline-block;
	width: 8px;
	height: 5px;
	background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
	margin-left: 11px;
}

.action__button {
	width: 160px;
	height: 48px;
	font-size: 18px;
	font-weight: 700;
	background-color: #3040C4;
	border-radius: 2px;
	border: none;
	color: #fff;
}

.navigation-burger {
	display: none;
}

.header__logo {
	display: flex;
}

.logo__image {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

.header__logo__name {
	font-size: 28px;
	line-height: 25px;
	font-weight: 700;
}

.header__logo__description {
	font-style: 18px;
	line-height: 25px;
	color: #2B292D;
	opacity: 0.6;
}

.header__logo__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width:400px) {
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 320px;
		height: 64px;
		background-color: white;
	}

	.navigation {
		display: none;
	}

	.header>.action__button {
		display: none;
	}

	.header__logo__description {
		display: none;
	}

	.header__logo__name {
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		margin-right: 70px;
	}

	.logo__image {
		width: 40px;
		height: 40px;
		margin-right: 15px;
	}

	.navigation-burger {
		display: flex;
		justify-content: center;
		align-items: center;
		border-left: 1px solid #2b292d2c;
		width: 50px;
		height: 50px;
	}
}