.inbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1400px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #FCF0E3;
}

.inbox__photo {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #2B292D99;
}

.inbox__column {
	width: 520px;
	margin-left: 200px;
}

.inbox__subtitle {
	font-weight: 700;
	font-size: 22px;
	line-height: 34px;
	color: #F1592B;
	margin: 0;
}

.inbox__title {
	font-weight: bold;
	font-size: 56px;
	line-height: 56px;
	letter-spacing: -0.5px;
	margin-top: 24px;
	margin-bottom: 0;
}

.inbox__description {
	font-size: 24px;
	margin-top: 30px;
	line-height: 34px;
	margin-bottom: 0;
}

.inbox__advantage-description {
	font-size: 18px;
	line-height: 26px;
	margin-top: 74px;
	margin-bottom: 0;
}

.inbox__advantage-comments {
	display: flex;
	margin: 0;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 4px solid #0185D0;
}

.inbox__advantage-comments-text {
	margin-left: 10px;
}

.inbox__advantage-comments-text__name {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #2B292D99;
}

@media screen and (max-width:400px) {
	.inbox {
		display: flex;
		flex-direction: column;
		width: 320px;
		padding-top: 50px;
	}

	.inbox__photo {
		width: 290px;
		margin-bottom: 30px;
	}

	.inbox__photo>p {
		display: none;
	}

	.inbox__photo>img {
		width: 100%;
	}

	.inbox__column {
		width: 290px;
		margin: 0;
	}

	.inbox__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 40px;
	}

	.inbox__advantage-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		padding: 30px 20px 30px 20px;
		margin-top: 60px;
		border-bottom: 4px solid #0185D0;
	}

	.inbox__advantage-description {
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		margin: 0;
	}

	.inbox__advantage-comments {
		border: none;
		padding: 0;
	}

	.inbox__advantage-comments>img {
		width: 40px;
		height: 40px;
	}
}