.logos {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1400px;
	background-color: white;
	padding-top: 43px;
	padding-bottom: 150px;
}

.logos__photo {
	margin: 0px 50px 0px 50px;
}

.logos-responsive {
	display: none;
}

@media screen and (max-width: 400px) {
	.logos {
		display: none;
	}

	.logos-responsive {
		display: flex;
		flex-direction: column;
		width: 320px;
		padding-top: 0;
		margin-bottom: 100px;
	}

	.logos__block {
		display: flex;
	}

	.logos__block-photo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 107px;
		height: 94px;
		border-right: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}

	.logos__photo {
		max-width: 80%;
		margin: 0;
	}
}